* {
    padding: 0;
    margin: 0;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #FFE5B4;
}

.wrap {
    margin: auto;

    padding: 0 10px;
}

header {
    width: 100%;
    background-color: #FFFDD0;
}

.wrap-header {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrap-header h1 {
    font-size: 25px;
    margin-top: 13px;
}

.wrap-header a {
    margin-top: 10px;
    height: 55px;
    width: 55px;
}

.wrap-header img {
    width: 100%;
}

.bt {
    display: flex;
    justify-content: center;
}

.bt button {
    margin: 20px;
    width: 100px;
    height: 30px;
    font-weight: 900;
    border-radius: 30px;
}

.search {
    position: relative;
    
    padding-top: 10px;
}

.filter-1 {
    display: flex;
    margin-bottom: 20px;
}

.filter-left {
    width: 70%;
}

.filter-left select {
    width: 225px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(166, 166, 239);
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
}




.filter-right {
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.filter-right button {
    width: 80px;
    height: 80px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}

.find {
    display: none;
}

.filter {
    display: none;
}
#lft{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#search_tx{
    width: 80%;
}
.data_1 {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    overflow: auto;
}

.card {
    width: 60%;
    height: 300px;
    margin: 2% auto;
    background: #bfe2bf;
    padding: 20px;
    padding-top: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}
.card_big{
    width: 90%;
    height: 450px;
    font-size: 25px;
}

.card img {
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.card .pic {
    margin-bottom: 10px;
}

.text {
    line-height: 1.5;
}

.data table {
    margin: auto;
}
.zero{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.zero img{
    width: 100%;
}

@media screen and (width>768px){
    .wrap{
        width: 960px;
    }
    .wrap-header{
        justify-content: center;
        padding-bottom: 10px;
    }
    #home{
        display: none;
    }
    .bt{
        justify-content: left;
        margin-left: 65px;
    }
    .bt button{
        margin: 10px;
    }
    .search{
        width: 220px;
        margin-left: 50px;
        background-color: #FCFCFC;
        border-radius: 50px;
        padding:20px;
        height: fit-content;
        display: none;
    }
    #search_tx{
        width: 130%;
    }
    .filter-1{
        flex-direction: column;
    }
    .filter-left p:nth-child(1){
        display: inline-block;

    }
    .filter-right{
        align-items: end;
    }
    .show{
        display: flex;
    }
    .filter-right{
        margin: auto;
        width: 100px;
    }
    .filter-right button{
        margin-top: 20px;
    }
    .card{
        width: 46%;
        height: 350px;
    }
    .card_big{
        height: 450px;
        width: 300px
    }
    
}