* {
    padding: 0;
    margin: 0;
    font-family: 'Notosans2', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #FFE5B4;
}

.wrap {
    margin: auto;
    width: 500px;
}

header {
    width: 100%;
    background-color: #FFFDD0;
}

.wrap-header {
    margin: auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.wrap-header h1 {
    font-size: 30px;
    margin-top: 13px;
}

.wrap-header a {
    margin-top: 10px;
    height: 55px;
    width: 55px;
}

.wrap-header img {
    width: 100%;
}

.bt {
    display: flex;
    justify-content: center;
}

.bt button {
    margin: 20px;
    width: 100px;
    height: 30px;
    font-weight: 900;
    border-radius: 30px;
}
.search{
    position: relative;
}
.filter-1 {
    display: flex;
    margin-bottom: 20px;
}

.filter-left {
    width: 70%;
}

.filter-right {
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.filter-right button {
    width: 80px;
    height: 80px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}
.find{
    display: none;
}
.filter{
    display: none;
}
.data_1{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 38%;
    margin: 2% 2%;
    background:#8FBC8F;
    padding: 20px;
    padding-top: 15px;
    border-radius: 20px;
}
.card img{
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}
.card .pic{
    margin-bottom: 10px;
}
.text{
    line-height: 1.5;
}

.data table {
    margin: auto;
}